header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

header ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUp 0.5s ease-out forwards;
}

/* Initial entrance animation for all nav items */
@keyframes slideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-item:nth-child(1) {
  animation-delay: 0s;
}

.nav-item:nth-child(2) {
  animation-delay: 0.15s;
}

.nav-item:nth-child(3) {
  animation-delay: 0.3s;
}

.nav-item:nth-child(4) {
  animation-delay: 0.45s;
}

/* Tech logo hover animation */
@keyframes techSlideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Toolbox return animation */
@keyframes toolboxSlideUp {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.icon-container {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, background-image 0.3s ease;
}

.icon-container.tech-slide-up {
  animation: techSlideUp 0.5s ease-in-out forwards;
  will-change: background-image;
}

.icon-container.toolbox-slide-up {
  animation: toolboxSlideUp 0.5s ease-in-out forwards;
}

.link-title {
  margin-top: 0.3rem;
  text-align: center;
  z-index: 2;
}

.nav-item.github {
  transition: filter 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 50%;
}

.nav-item.github:hover {
  filter: invert(1);
  box-shadow: 0 0 20px 20px white inset, 0 0 15px 15px white;
}
