.journeys-page {
  position: relative;
  width: 100%;
  height: 900vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* padding-left: 3rem; */
  margin-top: 3rem;
  padding-left: 1rem;
  padding-right: 0.5rem;

  /* border: 1px solid blue; */
}

.timeline {
  position: relative;
  width: 6rem;
  height: fit-content;
  /* border: 1px solid red; */
  margin-right: 2rem;
}

.vector {
  position: absolute;
  transform: translate(-50%, -50%);
}

.node {
  width: 8px;
  height: 8px;
  background-color: black;
  border: 1px solid rgba(0, 255, 247, 0.5);
  border-radius: 50%;
  z-index: 5;
  position: relative;
}

.line {
  position: absolute;
  height: 4px;
  background-color: rgba(114, 150, 166, 0.4);
  transform-origin: 0 50%;
  top: 50%;
  left: 50%;
  z-index: -1;
}

/* Scaling effect */
.node.scaled {
  transform: scale(4); /* Adjust the scale as desired */
}

.node:hover {
  transform: scale(5);
  /* box-shadow: 0 0 1px 1px rgba(0, 255, 247, 0.6) inset; */
  border: 1px solid rgba(0, 255, 247, 0.7);
}

.time-label {
  position: absolute;
  padding-top: 1.4rem;
  /* margin-top: 1rem; */
  left: -30px;
  color: grey;
  font-style: italic;
  font-weight: bold;
  rotate: z 2deg;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.time-label.visible {
  opacity: 1; /* Fully visible when in view */
}

.marks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  transform: translateY(-14px);
}

.mark {
  border-radius: 5px;
  width: 8px;
  height: 5px;
  border: 1px solid rgba(0, 255, 247, 0.5);
}

.mark.mark-scaled {
  height: 30px;
}

.mark:hover {
  transform: scale(1.2);
  border: 1px solid rgba(0, 255, 247, 0.7);
}

.node,
.mark {
  background-color: black;
  box-shadow: 0 0 5px 1px rgba(0, 255, 247, 0.6);
  transition: all 0.2s ease-in-out;
}

.node:hover,
.mark:hover {
  box-shadow: 0 0 5px 2px rgba(0, 255, 247, 0.5);
  cursor: pointer;
}

.mark.selected {
  transform: scale(1.2);
  height: 30px;
}

.node.selected {
  transform: scale(5);
}

.selected {
  background-color: rgb(142, 255, 251);
  scale: 1.1;
}

.selected-text-container {
  width: 55%;
  height: fit-content;
  position: sticky;
  top: 2rem;
  opacity: 0;
  transform: translateX(2rem);
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.selected-text {
  width: 100%;
  height: fit-content;
  max-height: 80vh;
  border: 1px solid rgba(0, 255, 247, 0.5);
  box-shadow: 0 0 5px 1px rgba(0, 255, 247, 0.6);
  z-index: 1000;
  padding: 1rem;
  border-radius: 20px;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none;
  transition: box-shadow 0.3s ease;
}

.selected-text:hover {
  box-shadow: 0 0 10px 5px rgba(0, 255, 247, 0.5);
}

.selected-text p {
  color: rgb(148, 147, 147);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.selected-text img {
  width: 100%;
  max-width: 18rem;
  min-height: 5rem;
  margin-top: 0.5rem;
  max-height: 20rem;
}

.selected-text ul {
  /* list-style: none; */
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 0.5rem;
  color: lightblue;
}

.selected-text ul li {
  text-align: start;
}

.selected-text h2 {
  line-height: 20px;
  margin-top: 0.5rem;
}

.selected-text .header-desc {
  border-top: 1px solid white;
  color: white;
  width: 100%;
  padding-left: auto;
  text-align: center;
  line-height: 15px;
  font-style: italic;
}

.selected-text p a {
  color: lightblue;
  text-decoration: underline;
}

.selected-text-container.visible {
  opacity: 1;
  transform: translateX(0px);
}

.selected-text-container.fade-out {
  opacity: 0;
  transform: translateX(2rem);
  transition: opacity 0.4s ease, transform 0.4s ease; /* Ensure 0.5s matches the timeout */
}
