.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0;
  z-index: 6;
  backdrop-filter: blur(10px);
}

.page-buttons button {
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.sort-options span,
.page-buttons span,
.items-per-page span {
  margin-right: 5px;
}

.sort-options select option,
.items-per-page select option {
  text-align: center;
}
