.all-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  /* overflow-y: auto; */
  /* height: 100vh; */
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
