.project {
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  position: relative;
  width: 100%;
  overflow: hidden;
  opacity: 0;

  animation: slideInFromLeft 0.7s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  transition: all 0.7s ease;
}

.top-right-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  right: 5px;
  top: 5px;
}

.type-icon,
.complete-icon {
  transition: transform 0.3s ease;
  z-index: 5;
}

.type-icon:hover,
.complete-icon:hover,
.technology-image:hover {
  transform: scale(1.3);
}

.project-data {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: auto;
  flex-grow: 1;
}

.project-text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
  padding: 0.25rem;
  text-align: start;
}

.project-name {
  font-size: 1.2rem;
  font-weight: bold;
  width: auto;
}

.project-name:hover {
  color: aqua;
  text-decoration: underline;
}

.project-desc {
  color: grey;
  font-style: italic;
  width: auto;
}

.project-image {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
}

.project-image img {
  width: 100%;
  height: 100%;
}

.stack-type-display {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.stack-type-display p,
.deployed-link,
.github-link {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0.5rem;
  text-align: center;
}

.stack-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0.3rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.technology-image {
  flex: 0 1 0;
  margin-left: 5px;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

.project-links {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 0.6rem;
}

.github-link,
.deployed-link,
.backend,
.frontend,
.fullstack,
.other {
  width: 100px;
  height: 40px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Default text color */
  border: 1px solid white; /* Default border */
  box-shadow: 0 0 5px white, 0 0 5px inset; /* Default shadow */
}

.github-link:after,
.deployed-link:after,
.backend:after,
.frontend:after,
.fullstack:after,
.other:after {
  position: absolute;
  background-color: transparent;
  content: "";
  top: 2px;
  left: 2px;
  width: 95%;
  height: 86%;
  border: 1px solid white; /* Default after border */
  box-shadow: 0 0 5px white inset; /* Default after shadow */
  opacity: 0;
  transition: all 0.3s ease;
}

.deployed-link,
.github-link {
  color: white;
  border: 1px solid white;
  box-shadow: 0 0 5px white, 0 0 5px inset;
}

.deployed-link p,
.github-link p {
  margin-right: 5px;
  text-align: center;
}

.backend {
  color: blue;
  border: 1px solid blue;
  box-shadow: 0 0 5px blue, 0 0 5px inset;
}

.backend:after {
  border: 1px solid blue;
  box-shadow: 0 0 5px blue inset;
}

.frontend {
  color: yellow;
  border: 1px solid yellow;
  box-shadow: 0 0 5px yellow, 0 0 5px inset;
}
.frontend:after {
  border: 1px solid yellow;
  box-shadow: 0 0 5px yellow inset;
}

.fullstack {
  color: limegreen;
  border: 1px solid limegreen;
  box-shadow: 0 0 5px limegreen, 0 0 5px inset;
}

.fullstack:after {
  border: 1px solid limegreen;
  box-shadow: 0 0 5px limegreen inset;
}

.other {
  color: mediumslateblue;
  border: 1px solid mediumslateblue;
  box-shadow: 0 0 5px mediumslateblue, 0 0 5px inset;
}

.other:after {
  border: 1px solid mediumslateblue;
  box-shadow: 0 0 5px mediumslateblue inset;
}

.github-link:hover:after,
.deployed-link:hover:after,
.backend:hover:after,
.frontend:hover:after,
.fullstack:hover:after,
.other:hover:after {
  opacity: 1;
}

/* Small Screens */
@media screen and (max-width: 640px) {
  .project {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  .project-image {
    width: 75%;
    /* border: 1px solid blue; */
  }

  .project-data {
    justify-content: space-between;
  }

  .project-text {
    margin: 0;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .github-link,
  .deployed-link {
    font-size: 15px;
    width: 100px;
    height: 50px;
  }

  .github-link:after,
  .deployed-link:after {
    top: 2px;
    left: 2px;
    width: 95%;
    height: 89%;
  }
}

@media screen and (max-width: 370px) {
  .backend,
  .frontend,
  .fullstack,
  .other {
    width: 64px;
    height: 50px;
  }

  .backend:after,
  .frontend:after,
  .fullstack:after,
  .other:after {
    top: 2px;
    left: 2px;
    width: 91%;
    height: 89%;
  }
}

@media screen and (min-width: 850px) {
  .github-link,
  .deployed-link,
  .backend,
  .frontend,
  .fullstack,
  .other {
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 50px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .github-link:after,
  .deployed-link:after,
  .backend:after,
  .frontend:after,
  .fullstack:after,
  .other:after {
    position: absolute;
    background-color: transparent;
    content: "";
    top: 2px;
    left: 2px;
    width: 95%;
    height: 89%;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .project-name {
    font-size: 30px;
  }

  .project-desc {
    font-size: 1.2rem;
  }

  .technology-image {
    transform: scale(1.2);
    margin: 10px;
  }

  .technology-image:hover {
    transform: scale(1.6);
  }
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
