.video-intro-container {
  position: fixed; /* Stays fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent overflow issues */
  z-index: 5;
}

.intro-video {
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out; /* Smooth fade-out effect */
}

.stop-button,
.start-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  border-radius: 50%; /* Circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2; /* Ensure it's above the video */
  transition: background-color 0.2s ease;
}

.start-button {
  z-index: 1; /* Ensure it's below the stop button */
}

.stop-button:hover,
.start-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.stop-button svg {
  fill: #000; /* Icon color */
  width: 24px;
  height: 24px;
  z-index: 1;
}

.hidden {
  display: none;
}

/* ----------------- */

.home-page {
  height: fit-content;
}

.field {
  background: black;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
}

.circle {
  border: 3px solid;
  position: absolute;
  animation-duration: 7s;
  background-color: black;
  opacity: 0;
}

@keyframes move1 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(50px, 50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(100px, 100px);
    opacity: 0;
  }
}

@keyframes move2 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(0px, 50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0px, 100px);
    opacity: 0;
  }
}

@keyframes move3 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(50px, 0px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(100px, 0px);
    opacity: 0;
  }
}

@keyframes move4 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(0px, -50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0px, -100px);
    opacity: 0;
  }
}

@keyframes move5 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(-50px, 0px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(-100px, 0px);
    opacity: 0;
  }
}

@keyframes move6 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(50px, -50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(100px, -100px);
    opacity: 0;
  }
}

@keyframes move7 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(-50px, 50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(-100px, 100px);
    opacity: 0;
  }
}

@keyframes move8 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(-50px, -50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(-100px, -100px);
    opacity: 0;
  }
}
