.video-intro-container {
  position: fixed; /* Stays fixed to the viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent overflow issues */
  z-index: 5;
}

.intro-video {
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease-out; /* Smooth fade-out effect */
}

.stop-button,
.start-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  border-radius: 50%; /* Circular shape */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2; /* Ensure it's above the video */
  transition: background-color 0.2s ease;
}

.start-button {
  z-index: 2; /* Ensure it's below the stop button */
}

.stop-button:hover,
.start-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.stop-button svg {
  fill: #000; /* Icon color */
  width: 24px;
  height: 24px;
  z-index: 2;
}

.hidden {
  display: none;
}

/* ----------------- */

.home-page {
  height: fit-content;
}

.field {
  background: black;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  z-index: 1;
  pointer-events: none;
  /* border-top: 1px solid white; */
}

.circle {
  border: 3px solid;
  position: absolute;
  animation-duration: 7s;
  background-color: black;
  opacity: 0;
  pointer-events: none;
}

@keyframes move1 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(50px, 50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(100px, 100px);
    opacity: 0;
  }
}

@keyframes move2 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(0px, 50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0px, 100px);
    opacity: 0;
  }
}

@keyframes move3 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(50px, 0px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(100px, 0px);
    opacity: 0;
  }
}

@keyframes move4 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(0px, -50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(0px, -100px);
    opacity: 0;
  }
}

@keyframes move5 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(-50px, 0px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(-100px, 0px);
    opacity: 0;
  }
}

@keyframes move6 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(50px, -50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(100px, -100px);
    opacity: 0;
  }
}

@keyframes move7 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(-50px, 50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(-100px, 100px);
    opacity: 0;
  }
}

@keyframes move8 {
  0% {
    transform: scale(1) translate(0px, 0px);
    opacity: 0;
  }
  50% {
    transform: scale(2) translate(-50px, -50px);
    opacity: 0.5;
  }
  100% {
    transform: scale(1) translate(-100px, -100px);
    opacity: 0;
  }
}

.home-page-content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-evenly;
  /* border: 1px solid red; */
  height: 90vh;
}

.star-row-1,
.star-row-2,
.star-row-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  /* border: 1px solid red; */
}

.star-row-1 {
  transition: all 0.3s ease;
}

.topic {
  min-height: 100px;
  min-width: 100px;
  backdrop-filter: blur(5px);
  border-radius: 50%;
  border: 2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease, min-width 0.15s ease, transform 0s ease;
  box-shadow: 0 0 8px 5px rgba(82, 82, 82, 0.5);
  position: absolute;
}

.topic p {
  font-weight: bold;
  user-select: none;
  transition: all 0.5s ease;
  width: 90%;
}

.topic-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.topic-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.topic-name p {
  font-family: "Doto", sans-serif;
  font-size: 0.9rem;
}

.selected .topic-name {
  flex-direction: row;
}

.selected .topic-name p {
  margin: 0;
  margin-right: 10px;
  font-size: 1.7rem;
  width: fit-content;
  /* border: 1px solid white; */
}

.selected p {
  flex-direction: row;
}

.topic:hover {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0.4);
}

.topic.selected {
  /* max-height: fit-content; */
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  padding: 5px;
  margin-left: 0;
  top: 60px;
  left: 0;
  scale: 0.9;
  align-items: flex-start;
  overflow: hidden;
}

.topic-details {
  color: red;
  width: 100%;
  display: flex;
  justify-content: center;
}

.top-point.topic {
  transform: translateY(35px);
}

.top-point.selected {
  transform: translateY(0px);
}

.top-right-point.topic {
  margin-left: 180px;
}

.top-left-point.topic {
  margin-left: -180px;
}

.bottom-right-point.topic {
  margin-left: 110px;
}

.bottom-left-point.topic {
  margin-left: -110px;
}

.top-right-point.topic.selected,
.top-left-point.topic.selected,
.bottom-right-point.topic.selected,
.bottom-left-point.topic.selected {
  margin-left: 0px;
}

form {
  /* border: 1px solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 100;
  width: 200px;
  min-height: 5rem;
  animation: fadeIn 1s ease;
}

form p,
form input {
  margin: 0;
  padding: 0;
  width: 200px;
  text-align: start;
  background-color: transparent;
}

form p {
  color: lightgrey;
  font-style: italic;
}

form input {
  box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding: 3px 2px;
}

form button {
  border: 1px solid lightgrey;
  padding: 3px 10px;
  background: transparent;
  color: lightgrey;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 5px;
}

form button:hover {
  background: lightgrey;
  color: black;
}

form input:focus {
  outline: none;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: fadeIn 1s ease;
  margin-left: 5px;
  position: absolute;
  margin-left: 258px;
  height: 80%;
}

.contact-links a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.contact-links a:hover {
  transform: scale(1.2);
}

.contact-links a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.topic-details .school-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: fit-content;
}

.school {
  width: 45%;
  height: 82px;
  border: 2px solid grey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 1s ease;
}

.school img {
  width: 40%;
  height: 100%;
  max-width: 100px;
}

.school .school-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 52%;
  color: white;
}

.school .school-name p {
  width: 100%;
  white-space: nowrap;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
}

.job-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.job-container .job {
  width: 40%;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 2px 0px;
  animation: fadeIn 1s ease;
}

.job-container .job img {
  height: 80%;
  width: 50px;
  max-width: 100px;
}

.job-container .job .job-name {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.job-name p {
  line-height: 1;
  white-space: nowrap;
  text-wrap: wrap;
  text-align: center;
  font-size: calc(0.5rem + 1vw);
  width: 100%;
}

.who-i-am-container {
  width: 100%;
  height: fit-content;
  padding: 10px;
  display: flex;
  transition: all 1.5s ease;
  animation: fadeIn 1.5s ease;
}

.who-i-am-container img {
  width: 150px;
  height: 80%;
  border-radius: 50%;
  transition: all 1.5s ease;
  animation: fadeIn 1.5s ease;
}

.who-i-am-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  padding: 15px;
  will-change: font-size;
  font-size: calc(0.5rem + 1.1vw);
  color: lightgrey;
}

.what-i-do-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 0.5rem;
  animation: fadeIn 1s ease;
}

.thing {
  width: 31%;
  min-height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  animation: fadeIn 1s ease;
}

.thing p {
  width: 100%;
  color: white;
  font-size: calc(0.5rem + 1vw);
  padding: 5px;
  z-index: 2;
  height: fit-content;
  background-color: rgba(128, 128, 128, 0.436);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  animation: fadeIn 1s ease;
}

.thing img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
