.card {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
}

.card.rounded {
  border-radius: 8px;
}

.card.is-out {
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 640px) {
  .card {
    scale: 0.9;
  }
}
