.card {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotateX(0) rotateY(0);
  transform-style: preserve-3d;
  transition: transform 0.1s ease;
  width: 500px;
  height: 500px;
}

.card.rounded {
  border-radius: 8px;
}

.card.is-out {
  transition: transform 0.5s ease-in-out;
}

@media screen and (max-width: 768px) {
  .card {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 400px) {
  .card {
    width: 220px;
    height: 220px;
  }
}
