@import url("https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap");

.stats-bar {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  text-align: center;
}

.stat-block {
  width: 30%;
  color: rgb(0, 255, 255);
  font-family: "Doto", sans-serif;
}

.stat-label {
    font-size: 13px;
}
