.marquee-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: fit-content;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marquee-content {
  display: flex;
  position: relative;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid red; */
}

.marquee-content div {
  padding: 10px 5px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid salmon; */
  height: 70px;
  min-width: 200px;
  text-wrap: wrap;
}

.marquee-content div a {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .marquee-content div a:hover {
    
} */
