.projects-labeled-as {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line-2 {
  font-size: 2rem;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
